<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Change the password</title>

  <link rel="stylesheet" href="../static/default.css">
  <link rel="stylesheet" href="../static/desktop.css">
  <link rel="stylesheet" href="../static/mobile.css">

  <link rel="stylesheet" href="../default.css">
  <link rel="stylesheet" href="../desktop.css">
  <link rel="stylesheet" href="../mobile.css">

</head>
<body class="fStack">

<div class="absoluteNotOk" th:if="${param.error}">Contraseña erronea.</div>
<div class="absoluteOk" th:if="${param.success}">Se cambió la contraseña.</div>


<div class="hStack titleof">
  Cambiar contraseña
</div>
<form class="vStack" method="post" th:action="@{/password}">
  <input class="writeIn bContainer" placeholder="Contraseña antigüa.*" type="password" name="oldPassword">
  <input class="writeIn bContainer" placeholder="Contraseña nueva.*" type="password" name="newPassword">

  <div class="hStack spceEven centerSpaced">
    <a class="writeIn clear btn" th:href="@{/login}">Volver</a>
    <button class="writeIn btn" type="submit">Guardar cambios</button>
  </div>

</form>

</body>
</html>