<!doctype html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link rel="stylesheet" href="../static/default.css">
    <link rel="stylesheet" href="../static/desktop.css">
    <link rel="stylesheet" href="../static/mobile.css">

    <link rel="stylesheet" href="../default.css">
    <link rel="stylesheet" href="../desktop.css">
    <link rel="stylesheet" href="../mobile.css">

</head>
<body class="fStack">


<div class="hStack titleof" th:if="${param.passwordSuccess}">
    Perfil de usuario
</div>
<div class="adjustedOk" th:if="${param.success}">Se ha realizado la modificacion de datos</div>
<div class="adjustedOk" th:if="${param.usernameEmpty}">El nombre de usuario no puede estar vacío.</div>
<div class="adjustedOk" th:if="${param.nameEmpty}">Tu nombre no puede estar vacío.</div>
<div class="adjustedOk" th:if="${param.surnameEmpty}">Tu apellido no puede estar vacío.</div>
<div class="adjustedOk" th:if="${param.emailEmpty}">Tu email no puede estar vacío.</div>
<div class="adjustedOk" th:if="${param.usernameInUse}">Este nombre de usuario ya está en uso.</div>
<div class="adjustedOk" th:if="${param.emailInUse}">Este email ya está en uso.</div>

<form class="vStack" method="post" th:action="@{/profile}" th:object="${user}">
        <input name="userName" class="writeIn bContainer" required placeholder="Nombre de usuario.*" th:value="${user.userName}">
        <input name="name" class="writeIn bContainer" required placeholder="Nombre.*" th:value="${user.name}">
        <input name="surname" class="writeIn bContainer" required placeholder="Apellidos.*" th:value="${user.surname}">
        <input name="email" class="writeIn bContainer" required placeholder="Email.*" th:value="${user.email}">
    <a class=" autoContainer writeIn link " th:href="@{/password}">¿Quieres cambiar la contraseña?</a>
    <a class="hStack link" th:href="@{/logout}">Cerrar sesión.</a>

    <div class="hStack spceEven centerSpaced">
        <a class="writeIn clear btn" th:href="@{/login}">Volver</a>
        <button class="writeIn btn" type="submit">Guardar cambios</button>
    </div>

</form>

</body>
</html>